<header>
  <img src="/assets/logo/Icon_LogoBookify.png" alt="Bookify Logo" class="logo" routerLink="/company/company-dashboard">
  <nav>
    <a routerLink="/company/company-dashboard">Inicio</a>

    <div class="nav-item dropdown" [class.show]="isDropdownOpen">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-expanded="false" (click)="toggleDropdown()">
        <img
        [src]="currentUser?.profile_picture || '/assets/images/foto-perfil.jpg'"
        alt="Foto de Perfil"
        class="profile-pic"
      />
      </a>

      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/company/company-employees">Mis Empleados</a></li>
        <li><a class="dropdown-item" routerLink="/company/company-profile">Mi perfil</a></li>
        <li><a class="dropdown-item" routerLink="/company/company-profile">Mi empresa</a></li>
        <li><a class="dropdown-item text-danger" (click)="logout()">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>

</header>
