<header>
  <button class="menu-btn" (click)="toggleDropdown($event)">☰</button>

  

  <!-- Barra de Búsqueda -->
  <div class="search-bar">
    <input
      type="text"
      placeholder="Buscar empresa..."
      [(ngModel)]="searchQuery"
      (input)="applyFilters()"
    />
  </div>


   <!-- Dropdown de ciudades cargadas dinámicamente -->
   <div class="user-dropdown">
    <select (change)="selectCity($event)">
      <option value="">Todas</option>
      <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
    </select>
  </div>



  <!-- Dropdown para categorías cargadas dinámicamente -->
  <div class="menu-dropdown" [class.show]="isDropdownOpen" (click)="stopPropagation($event)">
    <div class="dropdown-header">Categorías</div>
    <ul>
      <li>
        <a href="#" (click)="selectCategory($event, '')">Todos</a>
      </li>
      <li *ngFor="let category of categories">
        <a href="#" (click)="selectCategory($event, category.name)">{{ category.name }}</a>
      </li>
      
    </ul>
  </div>
</header>

<main class="main-container">
  <!-- Empresas cargadas dinámicamente según los datos -->
  <section class="company-card" *ngFor="let company of filteredCompanies" (click)="goToCompanyDetails(company.id)">
    <!-- Imagen con los atributos alt, title y créditos de licencia -->
    <img [src]="company.image?.src" 
    [alt]="company.image?.alt || company.name" 
    [title]="company.image?.title || company.name" 
    class="company-image">

<div class="company-info">
 <h2>{{ company.name }}</h2>
 <p>{{ company.shortDescription }}</p>
</div>
  </section>
</main>

