<header>
  <button class="menu-btn" (click)="toggleDropdown()">☰</button>
  <div class="user-dropdown">
    <span>Cliente</span>
    <select>
      <option>Ciudad</option>
      <option>Madrid</option>
      <option>Barcelona</option>
      <option>Valencia</option>
    </select>
  </div>

  <!-- Dropdown para categorías -->
  <div class="menu-dropdown" [class.show]="isDropdownOpen">
    <div class="dropdown-header">Categorías</div>
    <ul>
      <li><a href="#">Salud</a></li>
      <li><a href="#">Estética</a></li>
      <li><a href="#">Limpieza</a></li>
      <li><a href="#">Otros</a></li>
    </ul>
  </div>
</header>

<main class="main-container">
  <!-- Primera empresa -->
  <section class="company-card">
    <img src="https://images.pexels.com/photos/7755449/pexels-photo-7755449.jpeg?auto=compress&cs=tinysrgb&w=400">
    <div class="company-info">
      <h2>Peluquería Lola</h2>
      <p>
        En un rincón especializado lleno de amabilidad y estilo, Peluquería Lola destaca por su atención personalizada.
        Ofrecemos servicios de calidad para el cuidado del cabello, con productos 100% orgánicos y profesionales altamente capacitados.
        Disfruta de cortes modernos, peinados para ocasiones especiales, tintes personalizados y tratamientos capilares avanzados.
        Además, garantizamos un ambiente cómodo y relajante. ¡Reserva tu cita ahora y vive una experiencia única en el cuidado de tu cabello!
      </p>
    </div>
  </section>

  <!-- Segunda empresa -->
  <section class="company-card">
    <img src="https://images.pexels.com/photos/4269942/pexels-photo-4269942.jpeg?auto=compress&cs=tinysrgb&w=400">
    <div class="company-info">
      <h2>Vitaldent</h2>
      <p>
        Tu sonrisa es nuestra prioridad. Con tecnología avanzada y un equipo experto, Vitaldent ofrece servicios de alta calidad 
        en odontología. Desde limpiezas dentales de rutina hasta tratamientos complejos como implantes y ortodoncia, estamos 
        comprometidos con tu bienestar dental. Nuestros servicios incluyen diagnósticos digitales de última generación, planes de 
        tratamiento personalizados y un ambiente acogedor diseñado para minimizar cualquier ansiedad relacionada con el dentista. 
        ¡Reserva tu cita hoy y da el primer paso hacia una sonrisa saludable y brillante!
      </p>
    </div>
  </section>
</main>
