/* Variables */
$primary-color: #0097b2;
$background-color: #f5f5f5;
$text-color: #333;
$card-background: #ffffff;

/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; /* M치s espacio lateral */
  background-color: $card-background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.user-dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Main Content */
.main-container {
  padding: 2rem 4rem; /* Aumentar m치rgenes laterales */
}

.company-card {
  display: flex;
  background-color: $card-background;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem; /* Espaciado interno */
}

.company-image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.company-info {
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 4rem; /* Espaciado interno m치s amplio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra horizontalmente el texto */
  text-align: center; /* Alinea el texto en el centro */
}

h2 {
  margin: 0;
  color: $primary-color;
}

p {
  margin: 0.5rem 0 0;
  line-height: 1.5;
  text-align: justify; /* Justifica el texto de los p치rrafos */
}
