<!-- Navbar -->
<header>
  <img src="/assets/logo/Icon_LogoBookify.png" alt="Bookify Logo" class="logo">
  <nav>
    <a (click)="openModal()">Mis citas</a>
    <!-- Desplegable para el perfil -->
    <div class="nav-item dropdown" [class.show]="isDropdownOpen">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-expanded="false" (click)="toggleDropdown()">
        <img src="/assets/images/foto-perfil.jpg" alt="User Profile" class="profile-pic">
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Mis citas</a></li>
        <li><a class="dropdown-item" href="#">Mis datos</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- Modal de Mis Citas -->
<div class="modal" [class.show]="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Mis Citas</h2>
    <p>Aquí puedes ver tus próximas citas, gestionarlas y realizar otras acciones.</p>
    <button (click)="closeModal()">Cerrar</button>
  </div>
</div>
