<div class="profile-container">
    <h1 class="title">Perfil de Usuario</h1>
    <div class="user-profile">
      <div class="profile-item">
        <label for="name" class="label">Nombre</label>
        <p id="name" class="value">Carlos López</p>
      </div>
      <div class="profile-item">
        <label for="email" class="label">Email</label>
        <p id="email" class="value">carlos.com</p>
      </div>
      <div class="profile-item">
        <label for="position" class="label">Puesto</label>
        <p id="position" class="value">Dentista</p>
      </div>
      <div class="profile-item">
        <label for="hire-date" class="label">Fecha de Contratación</label>
        <p id="hire-date" class="value">01/05/2023</p>
      </div>
      <div class="profile-item">
        <label for="role" class="label">Rol</label>
        <p id="role" class="value">Empleado</p>
      </div>
      <div class="profile-item">
        <label for="specialization" class="label">Especialización</label>
        <p id="specialization" class="value specialization">Salud</p>
      </div>
    </div>
  </div>
  
  
