html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.btn-volver {
    background-color: #437a90;
    /* Fondo azul */
    color: white;
    /* Texto blanco (no necesario para el ícono, pero lo mantienes en caso de usar texto en algún momento) */
    border: none;
    /* Elimina el borde predeterminado */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Transición suave */
  }
  
  .btn-volver:hover {
    background-color: #005f6b;
    /* Cambio de color cuando el mouse pasa */
  }
  
  .btn-volver i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
  }
  

h3,
h1 {
    color: #437a90;
}

.container {
    flex: 1;
    /* Hace que el contenido principal ocupe el espacio disponible */
    padding-bottom: 100px; 
}

app-footer {
    width: 100%;
    background-color: #ffffff;
    /* Ajusta según tu diseño */
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Asegurar que el fondo inicial sea blanco */
.accordion-button {
    background-color: white !important;
    color: black !important;
    border: none;
}

/* Evita el color azul al cargar */
.accordion-button:not(.collapsed) {
    background-color: white !important;
    color: black !important;
}

/* Cuando se hace clic, cambia a azul */
.accordion-button:focus,
.accordion-button:not(.collapsed):focus {
    background-color: #437a90 !important;
    color: white !important;
}

/* Quitar el borde y sombra azul */
.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}