.service-item {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.01);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
  
    h4 {
      font-size: 1.2rem;
      color: #437A90;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1rem;
      color: #666666;
      margin: 0.5rem 0;
    }
  
  }
  