$primary-color: #437a90;
$secondary-color: #f8f9fa;
$text-color: #333;
$border-radius: 8px;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

.container {
  max-width: 1200px; // Aumentamos el ancho máximo
  margin: auto;
  background: $secondary-color;
  padding: 30px; // Aumentamos el padding
  border-radius: $border-radius;
  box-shadow: $shadow;
}

.card {
  border: none;
  border-radius: $border-radius;
  box-shadow: $shadow;
  background: white;
  height: 100%; // Aseguramos que las tarjetas tengan la misma altura
}

.card-img-top {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  object-fit: cover;
  height: 100%; // Aseguramos que la imagen ocupe todo el espacio disponible
  max-height: 400px; // Aumentamos la altura máxima de la imagen
}

.card-body {
  color: $text-color;
  padding: 2rem; // Aumentamos el padding interno
}

h1, h3 {
  color: $primary-color;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem; // Aumentamos el tamaño del título
}

h3 {
  font-size: 1.75rem; // Aumentamos el tamaño del subtítulo
}

p {
  font-size: 1.1rem; // Aumentamos el tamaño del texto
  margin-bottom: 0.75rem;
}

.list-group-item {
  background: transparent;
  border: none;
  font-size: 1rem; // Aumentamos el tamaño del texto de la lista
}

/* Estilo para el botón de editar */
.btn-primary {
  background-color: $primary-color; /* Color de fondo principal */
  border-color: $primary-color;
  color: white; /* Color del texto */
  font-weight: bold; /* Negrita */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.3s; /* Animaciones */
}

/* Estilo cuando el botón es hovered */
.btn-primary:hover {
  background-color: #005f6b; /* Color más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Efecto de desplazamiento hacia arriba */
}

/* Estilo cuando el botón está en un estado de enfoque (focus) */
.btn-primary:focus {
  outline: none; /* Elimina el borde del enfoque predeterminado */
  box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5); /* Sombra azul suave */
}

/* Estilo para el botón de guardar cambios en el modal */
.modal-footer .btn-primary {
  background-color: #28a745; /* Fondo verde */
  border-color: #28a745; /* Borde verde */
}

.modal-footer .btn-primary:hover {
  background-color: #218838; /* Fondo verde oscuro */
  border-color: #1e7e34; /* Borde verde oscuro */
}


@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col-md-4, .col-md-8 {
    width: 100%;
  }

  .card-img-top {
    max-height: 300px; // Ajustamos la altura de la imagen en móviles
  }

  .card-body {
    padding: 1.5rem; // Reducimos el padding en móviles
  }

  h1 {
    font-size: 2rem; // Reducimos el tamaño del título en móviles
  }

  h3 {
    font-size: 1.5rem; // Reducimos el tamaño del subtítulo en móviles
  }

  p {
    font-size: 1rem; // Reducimos el tamaño del texto en móviles
  }
}