<div class="login-container">
  <main class="login-box">
    <p class="small-text">¿Ya tienes cuenta? <a routerLink="/auth/login">Iniciar sesión</a></p>
    <div class="logo-container">
      <img src="/assets/logo/Icon_LogoBookify.png" alt="Bookify Logo" class="logo">
    </div>
    <h1>Bienvenido a Bookify</h1>
    <p class="small-text">Cree nueva cuenta</p>

    <!-- Mensajes de éxito y error -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <form (ngSubmit)="register()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nombre" required aria-label="Nombre" [(ngModel)]="name"
          name="name" />
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required aria-label="Email" [(ngModel)]="email"
          name="email" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Contraseña" required aria-label="Contraseña"
          [(ngModel)]="password" name="password" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Confirmar contraseña" required
          aria-label="Confirmar contraseña" [(ngModel)]="confirmPassword" name="confirmPassword" />
      </div>

      <!-- Selección de Rol -->
      <div class="form-group">
        <select class="form-control" [(ngModel)]="role" name="role">
          <option value="client">Cliente</option>
          <option value="company">Empresa</option>
        </select>
      </div>

      <!-- Botón de registro con animación de carga -->
      <button type="submit" class="btn-register" aria-label="Registrarse" [disabled]="isLoading">
        <span *ngIf="!isLoading">Registrarse</span>
        <span *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i> Registrando...</span>
      </button>
    </form>
  </main>
  <div class="footer-text">
    <a href="/">www.bookify.com</a>
  </div>
</div>
