<main class="container dashboard-container">
  <!-- Cabecera con imagen y calendario -->
  <div class="header-container">
    <div class="header-content">
      <!-- Imagen principal -->
      <div class="header-image">
        <img src="/assets/images/employee-image.jpg" alt="Imagen principal" class="img-fluid" />
      </div>

      <!-- Calendario al lado de la imagen -->
      <app-calendar></app-calendar>

    </div>
  </div>

  <!-- Indicador de carga -->
  <div *ngIf="isLoading" class="loading-indicator">
    <p>Cargando servicios...</p>
  </div>

  <!-- Mensaje de error o lista de servicios -->
  <div *ngIf="!isLoading && errorMessage; else serviceList">
    <p class="error-message">{{ errorMessage }}</p>
  </div>

  <!-- Lista de servicios -->
  <ng-template #serviceList>
    <div *ngIf="services.length > 0; else noServices" class="service-container">
      <h1 class="service-title">Jornada</h1>
      <div class="service-grid">
        <div *ngFor="let service of services" class="service-card" (click)="openServiceModal(service)">
          <div class="service-header">
            <h2 class="service-name">{{ service.name }}</h2>
          </div>
          <div class="service-body">
            <p><span>Días:</span> {{ service.availability.days.join(', ') }}</p>
            <p><span>Horario:</span> {{ service.availability.hours.start }} - {{ service.availability.hours.end }}</p>
          </div>
          <div class="service-footer">
            <button type="button" class="btn btn-delete" (click)="setSelectedService(service)">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Mensaje cuando no hay servicios -->
  <ng-template #noServices>
    <p>No hay servicios disponibles.</p>
  </ng-template>

</main>