.services-section {
  display: inline-block;
  padding: 2px;
  border-radius: 8px;
  /* Eliminada la sombra */
  box-shadow: none;

  .services-header {
    background-color: #005f6b;
    padding: 5px; /* Elimina espacio interno */
    margin: 0; /* Elimina espacio externo */
    display: inline-block; /* Hace que el fondo se ajuste al contenido */
    border-radius: 4px; /* Mantiene bordes redondeados */

    h5 {
      margin: 0;
      font-size: 1.2rem; /* Tamaño del texto del título */
      line-height: 1; 
    }
  }

  .services-list {
    margin-top: 5px;
    list-style: none;
    text-align: left;

    li {
      color: #005f6b;
      font-size: 1rem;
      padding: 3px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      gap: 20px; /* Incrementado el margen lateral entre el servicio y los inputs */
      justify-content: space-between;
      
      .service-name {
        flex-grow: 1;
      }

      .service-input {
        width: 120px;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 12px;
        font-size: 0.9rem;

        &:focus {
          outline: none;
          border-color: #007b8f;
        }
      }
    }
  }
}
.container {
  .services-section {
    padding: 2px;
    border-radius: 8px;

    .services-header {
      background-color: #005f6b;
      padding: 5px;
      margin: 0;
      display: inline-block;
      border-radius: 4px;
      h5 {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1;
      }
    }

    .services-list {
      margin-top: 5px;
      list-style: none;
      text-align: left;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #005f6b;
        font-size: 1rem;
        margin-bottom: 15px;

        .service-name {
          flex-grow: 1;
        }

        .service-input {
          width: 120px;
          padding: 4px;
          border: 1px solid #ccc;
          border-radius: 12px;
          font-size: 0.9rem;
          &:focus {
            outline: none;
            border-color: #007b8f;
          }
        }
      }
    }
  }

  .time-dropdown-section {
    display: flex;
    align-items: center;
    gap: 10px; // Espaciado entre elementos

    .time-label {
      font-weight: bold;
      font-size: 1rem;
      color: #333;
      margin: 0; // Elimina espacio adicional
    }

    .time-input {
      width: 120px;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 0.9rem;
    }

    .time-select {
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 0.9rem;
    }
  }

  .row.align-items-center {
    align-items: center; // Asegura que todos los elementos estén alineados verticalmente
  }
}
