.dashboard-container {
    background-color: #f5f5f5;
    padding: 20px;
  
    .header-image {
      img {
        object-fit: cover;
      }
    }
  
    .calendar-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      img {
        width: 100%;
        max-width: 300px; /* Ajusta el tamaño del calendario */
        height: auto;
        border-radius: 8px;
      }
    }
  
    .jornada-container {
      background-color: white;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h5 {
        color: #007b8f;
        margin-bottom: 15px;
      }
  
      .form-label {
        font-weight: bold;
        color: #333;
      }
  
      .form-control {
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
  