<div class="app-container">


  <div class="nav-container">
    <nav class="navbar">
      <a routerLink="/auth/login" routerLinkActive="active">Login</a>
      <a routerLink="/auth/register" routerLinkActive="active">registro</a>
      <a routerLink="/auth/forgot-password" routerLinkActive="active">recuperar contraseña</a>
      <a routerLink="/client" routerLinkActive="active">dashboard Cliente</a>
      <a routerLink="/company/company-dashboard" routerLinkActive="active">dashboard Empresa</a>
      <a routerLink="/employee/employee-dashboard" routerLinkActive="active">dashboard Empleado</a>
    </nav>
  </div>
  
  <router-outlet></router-outlet>
</div>