/* Asegurar que la página ocupe el 100% de la altura y el footer esté anclado abajo */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h4 {
  color: #6f6f6d;
}

.app-footer {
  
    width: 100%;
    background-color: #ffffff;
    /* Ajusta según tu diseño */
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  


  .footer-container {
    display: flex;
    justify-content: space-between; /* Mantiene los elementos a los lados */
    align-items: center;
    gap: 1rem; /* Espaciado entre secciones */
    font-size: 0.875rem; /* Tamaño de texto ajustado */
     /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin-left: 2%;
    margin-right: 2%;

    /* Idioma */
    .footer-language a {
      color: #437a90; /* Azul */
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      
      &:hover {
        color: #005f6b;
      }
    }

    /* Redes sociales */
    .footer-social {
      
      display: flex;
      gap: 1rem;
      justify-content: center; /* Asegura que los iconos estén centrados en su área */
      margin-left: 13%;

      a {
        color: #437a90;
        font-size: 1.5rem;

        &:hover {
          color: #005f6b /* Azul más oscuro */
        }
      }
    }

    .footer-links .help-links {
      display: flex;
      gap: 20px; /* Espaciado entre los enlaces */
      color: #437a90;
    }
    
    .footer-links .help-links a {
      text-decoration: none;
      color: inherit; /* Mantener el color del texto heredado */
      font-size: 14px;
      font-weight: bold;
    }

    .footer-links .help-links a:hover {
      color: #005f6b;
    }

  }

  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column; /* Diseño vertical en pantallas pequeñas */
      align-items: center;
      gap: 0.5rem; /* Menor espaciado */
    }

    .vertical-line {
      display: none; /* Ocultar líneas verticales en dispositivos pequeños */
    }
  }
}

