/* Asegurar que la página ocupe el 100% de la altura y el footer esté anclado abajo */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h4 {
  color: #6f6f6d;
}

.app-footer {
  background-color: #ffffff; /* Blanco */
  padding: 0.5rem 1rem;
  margin-top: auto; /* Empuja el footer hacia abajo */

  .footer-container {
    display: flex;
    justify-content: space-between; /* Mantiene los elementos a los lados */
    align-items: center;
    gap: 1rem; /* Espaciado entre secciones */
    font-size: 0.875rem; /* Tamaño de texto ajustado */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */

    /* Idioma */
    .footer-language a {
      color: #437a90; /* Azul */
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: #005f6b;;
      }
    }

    /* Redes sociales */
    .footer-social {
      
      display: flex;
      gap: 1rem;
      justify-content: center; /* Asegura que los iconos estén centrados en su área */
      margin-left: 13%;

      a {
        color: #437a90;
        font-size: 1.5rem;

        &:hover {
          color: #005f6b /* Azul más oscuro */
        }
      }
    }

    /* Línea vertical */
    .vertical-line {
      width: 1px;
      height: 20px; /* Altura de la línea */
      background-color: #ccc; /* Gris claro */
    }

    .footer-links .help-links {
      display: flex;
      gap: 20px; /* Espaciado entre los enlaces */
      color: #437a90;
    }
    
    .footer-links .help-links a {
      text-decoration: none;
      color: inherit; /* Mantener el color del texto heredado */
      font-size: 14px;
      font-weight: bold;
    }

    .footer-links .help-links a:hover {
      color: #005f6b;
    }

  }

  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column; /* Diseño vertical en pantallas pequeñas */
      align-items: center;
      gap: 0.5rem; /* Menor espaciado */
    }

    .vertical-line {
      display: none; /* Ocultar líneas verticales en dispositivos pequeños */
    }
  }
}

