<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Bookify</title>
  <!-- Importación de la fuente Roboto desde Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <div class="login-box">
      <div class="logo-container">
        <img src="/assets/logo/Icon_LogoBookify.png" alt="Bookify Logo" class="logo">
      </div>
      <p class="titulo">Accede a tu cuenta</p>
      <p class="small-text">Inicie sesión para continuar</p>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn-register">Acceder</button>
      </form>
      <p class="small-text2"><a href="auth/forgot-password">Olvidé mi contraseña</a></p>

    </div>
    <div class="footer-text">
      <a href="auth/register">www.bookify.com</a>
    </div>
  </div>
</body>

</html>