<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Bookify</title>
  <!-- Importación de la fuente Roboto desde Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <div class="login-box">
      <p class="titulo">¿Olvidó su contraseña?</p>
      <p class="small-text">Introduzca su email para recuperarla</p>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <button type="submit" class="btn-register">Enviar</button>
      </form>
    </div>
    <div class="footer-text">
      <p>www.bookify.com</p>
    </div>
  </div>

</body>

</html>