<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot-Password - Bookify</title>
  <!-- Importación de la fuente Roboto desde Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <main class="login-box">
      <h1>¿Olvidó su contraseña?</h1>
      <p class="small-text">Introduzca su email para recuperarla</p>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required aria-label="Email">
        </div>
        <button type="submit" class="btn-register" aria-label="Enviar">Enviar</button>
      </form> 
    </main>
    <div class="footer-text">
      <a href="auth/register">www.bookify.com</a>
    </div>
  </div>

</body>

</html>